/* Group 4 stylesheet to merge all CSS */

/* Index slideshow, Intro Article, Article w/ Linked Icons created by Patricia Marcheselli - classes starting with initials pm */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* Slideshow - Patricia Marcheselli */
.pm-container {
  padding: 4em 2em;
  background-color: #523E33;
}

.pm-container img {
  width: 58%;
  height: 58%;
  border-radius: 2%;
}

.mySlides {
  width: 100%;
  display: none;
}

/* Intro Artcile - Patricia Marcheselli */
.pm-intro {
  clear: both;
  background-color: #eeefeb;
}

.pm-intro h2 {
  font-size: 28pt;
  padding: 2.5em 0 0 0;
  text-align: center;
  color: #523E33;
  font-family: 'Abel', 'Barlow', sans-serif; 
}

.pm-intro p {
  width: 80%;
  padding: 2.5rem 0 7.5rem 0;
  text-align: center;
  line-height: 2em;
  font-family: 'Abel', 'Barlow', sans-serif; 
}

/* Article w/ Linked Icons - Patricia Marcheselli */
.pm-preview {
  clear: both;
  background-color: #ffffff;
/*  margin: 0 9em 0 9em;*/
  height: 100%;
  overflow: auto;
}

.pm-preview h2 {
  font-size: 28pt;
  padding: 2.5em 0 0 0;
  text-align: center;
  color: rgb(148, 200, 64);
  font-family: 'Abel', 'Barlow', sans-serif; 
}

.pm-span_1_of_3 {
  width: 33.33%; 
}

.pm-module {
  float: left;
  text-align: center;
  margin-top: 2.75em;
  margin-bottom: 7.5em;
}

.pm-preview a {
  text-decoration: none;
  font-family: 'Abel', 'Barlow', sans-serif; 
  font-size: 1.25rem;
}

.pm-module img {
  min-height: 6em;
  max-height: 10em;
  padding-bottom: .5em;
}

.pm-module h3 {
  text-decoration: none;
  color: #523E33; 
}

.pm-module p {
  font-family: 'Abel', 'Barlow', sans-serif; 
  color: #94877e;
  font-size: 1.15rem;
  padding-top: 0.5em;
}

@media only screen and (max-width: 1000px) {
	.pm-span_3_of_3 {
		width: 100%; 
	}
	.pm-span_2_of_3 {
		width: 100%; 
	}
	.pm-span_1_of_3 {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.pm-span_3_of_3 {
		width: 100%; 
	}
	.pm-span_2_of_3 {
		width: 100%; 
	}
	.pm-span_1_of_3 {
		width: 100%;
	}
}


/* CSS for SERVICES done by George Roden classes starting with gr lines 95-202*/

header img  {
  width: 10%;
}

body  {
  background-color: white;
}

.gr-sub-head  {
  width: 100%;
  height: 2%;
  background-color: #94C840;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  font-family: 'Barlow', sans-serif;
  margin: 1em 0 2em 0;
}

h3  {
  text-decoration: underline;
}

#gr-top  {
  margin: 1em 0 1em 0;
  text-align: center;
  text-decoration: underline;
  color: #94C840;
  text-shadow: 1px 1px black;
  font-family: 'Barlow', sans-serif;
}

main, section.gr-row {
  width: 100%;
  margin: auto;
}

main, section.gr-row:after {
  content: "";
  display: table;
  clear: both;
}

article.gr, aside[class^='gr-col_']  {
  float: left;
  border: 1px solid white;
  background-color: #94877E;
  margin-left: 1em;
  box-shadow: 2px 2px 2px black;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: box 5s infinite;
  font-family: 'Abel', sans-serif;
  text-align: center;
  padding: 1em;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes box {
  10% {box-shadow: 10px 20px 30px white;}
}

/* Standard syntax */
@keyframes mymove {
  50% {box-shadow: 10px 20px 30px white;}
}

article.gr, aside.gr-col_1_of_4 {width: 23.5%;}

img.gr-lesson {
  width: 100%;
  height: 100%;
}

ul  {
  list-style: none;
}

section h2  {
  text-align: center;
  text-decoration: underline;
  margin-top: 2em;
  color: #94C840;
  text-shadow: 1px 1px black;
  font-family: 'Barlow', sans-serif;
}

ul[class^='gr-col_']  {
  float: left;
  background-color: #99FFCC;
  border: 1px solid white;
}

ul.gr-col_1_of_3 {
  width: 32%;
  background-color: #94877E;
  text-align: center;
  font-family: 'Abel', sans-serif;
  padding: .5em;
  margin: .8em 0 1em 1em;
  box-shadow: 2px 2px 2px black;
  -webkit-animation: box 5s infinite; /* Chrome, Safari, Opera */
  animation: box 5s infinite;
}

.fast  {
  margin-left: 29vw;
  margin-top: 1em;
  margin-bottom: 1em;
}


/*tr section*/
.tr-about-page-heading {
    width: 100%;
    height: 2%;
    background-color: #94C840;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    font-family: 'Barlow', sans-serif;
    margin: 1em 0 2em 0;
}

.tr-about-section {
    background-image: url('../images/about_background_2.jpg');
    background-color: cornsilk;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Abel', 'Barlow', sans-serif;
    font-size: xx-large;
    color: #94C840;
    font-weight: 900;
}

.tr-about-section h1 {
    font-family: 'Abel', 'Barlow', sans-serif;
    color: #94C840;
    padding-bottom: 0;
}

/* CSS for INSTRUCTORS PAGE done by Anna Nguyen. Classes starting with an initials */

.an-mainbody {
  clear: both;
  overflow: hidden;
}

.an-mainbody figure {
  margin: 0;
  width: 33.33%;
  padding: 100px 0 200px 0;
  float: left;
  text-align: center;
  font-family: 'Abel', 'Barlow', sans-serif; 
}

.an-mainbody img {
  position: relative;
  min-height: 200px;
  max-height: 200px;
  width: 55%;
  border-radius: 5%;
}

.an-mainbody figcaption {
  padding: 0 50px;
}

.an-mainbody h2 {
  margin: 20px 0 0 0;
  color: rgb(148, 200, 64);
  font-size: 28pt;
}

.an-mainbody p {
  margin: 0;
}

/* Header and footer CSS created by Thomas Neville - classes starting with initials tn */

/* Header CSS - Thomas Neville */
.tn-section {
  clear: both;
  padding: 0px;
  margin: 0px;
  font-family: 'Abel', 'Barlow', sans-serif; 
}

.tn-section img {
  width: 4rem;
}

.tn-section h1 {
  margin: 1.5rem;
  color: #523E33;
}

.tn-logo {
  padding-left: .7rem;
}

.tn-section li a {
  display: block;
  text-decoration: none;
  color: #523E33;
}

.tn-section li {
  background-color: #D6E8B8;
  padding: 0;
}

.tn-section li:hover {
  background-color: #94C840;
}

.tn-col {
  display: block;
  float:left;
  margin: 1% 0 0% 0%;
  text-align: center;
}

.tn-col:first-child { 
  margin-left: 0; 
}

.tn-group:before, .tn-group:after { 
  content:""; 
  display:table; 
}

.tn-group:after {
  clear:both;
}

.tn-span_4_of_4 {
  width: 100%;
}

.tn-span_3_of_4 {
  width: 74.6%;
}

.tn-span_2_of_4 {
  width: 49.2%;
}
.tn-span_1_of_4 {
  width: 25%;
}

@media only screen and (max-width: 480px) {
  .tn-col {
    margin: .5% 0 .5% 0%; 
  }
  .tn-span_1_of_4, .tn-span_2_of_4, .tn-span_3_of_4, .tn-span_4_of_4 { 
    width: 100%; 
  }
}

/* Footer CSS - Thomas Neville */
.tn-footer {
  font-size: .8rem;
  border-top: 1.3rem solid #523E33;
  padding-top: .5rem;
  background-color: rgba(148,135,126,0.5)
}

.tn-ft-i {
  font-size: 1.5rem;
}

.tn-ft-section {
  clear: both;
  padding: 0px;
  margin: 0px;
  font-family: 'Abel', 'Barlow', sans-serif; 
}

.tn-ft-section li a {
  text-decoration: none;
  color: #523E33;
  padding: 0 .5rem;
  margin-left: .5rem;
}

.tn-ft-section ul li a:hover {
  color: #94C840;
  background-color: #523E33;
}

.tn-ft-section ul {
  padding: 0;
  list-style-type: none;
}

.tn-ft-col {
  display: block;
  float:left;
  margin: 1% 0 0% 0%;
  text-align: center;
}

.tn-ft-col:first-child { 
  margin-left: 0; 
}

.tn-ft-group:before, .tn-group:after { 
  content:""; 
  display:table; 
}

.tn-ft-group:after {
  clear:both;
}

.tn-ft-map {
  padding-left: 1rem;
}

.tn-ft-span_4_of_4 {
  width: 100%;
  text-align: center;
}

.tn-ft-span_3_of_4 {
  width: 75%;
}

.tn-ft-span_2_of_4 {
  width: 50%;
}
.tn-ft-span_1_of_4 {
  width: 22.5%;
  text-align: left;
  margin: 0 1%;
}

@media only screen and (max-width: 650px) {
  .tn-ft-col {
    margin: .5% 0 .5% 0%; 
  }
  .tn-ft-span_1_of_4, .tn-ft-span_2_of_4, .tn-ft-span_3_of_4, .tn-ft-span_4_of_4 { 
    width: 100%;
    margin-top: 1rem;
  }
  .tn-ft-map {
    width: 10rem;
  }
}
/* End of Thomas Neville's CSS */