body {
    background-color: white;
}

.tn-group:before, .tn-group:after {
    content: "";
    display: table;
}

.tn-group:after {
    clear: both;
}

.tn-group {
    zoom: 1; /* Error in validator, but responsivegridsystem.com says this is for IE 6/7 */
}

.tn-span_4_of_4 {
    width: 100%;
}

.tn-span_3_of_4 {
    width: 74.6%;
}

.tn-span_2_of_4 {
    width: 49.2%;
}

.tn-span_1_of_4 {
    width: 25%;
}

/*tr section*/
.tr-about-page-heading {
    width: auto;
    background-color: darkkhaki;
    color: #94C840;
    text-align: center;
}

.tr-about-section {
    background-image: url('../images/about_background_2.jpg');
    background-color: cornsilk;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Abel', 'Barlow', sans-serif;
    font-size: xx-large;
    color: #94C840;
    font-weight: 900;
}

.tr-about-section h1 {
    font-family: 'Abel', 'Barlow', sans-serif;
    color: #94C840;
    padding-bottom: 0;
}



